* {
    margin: 0;
}

body {
    background: #f8f8f8;
}

.app__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.app__stats {
    display: flex;
    justify-content: space-between;
}